/* ========================================
   変数定義
======================================== */

/* 背景色 */
$color-bg-medium-gray: #c4c7cc;
$color-bg-light-blue-gray: #f6f8fc;
$color-bg-blue-gray: #e6ebf5;

/* プライマリーカラー */
$color-primary-blue: #1847c7; // Globis Blue
$color-primary-white: #ffffff;
$color-primary-dark-gray: #333333;

/* セカンダリーカラー */
$color-secondary: #ff9819;

/* ブレイクポイント */
$breakpoint-tablet: 768px;
$breakpoint-mobile: 390px;
$breakpoint-desktop: 1024px;
