/* ========================================
   Main SCSS Entry
   ======================================== */

/* -----------------------------
   1. Variables (Design Tokens)
   ----------------------------- */
@import "abstracts/variables";

/* -----------------------------
   2. Reset / Normalize Styles
   ----------------------------- */
@import "base/reset";

/* -----------------------------
   3. Typography
   ----------------------------- */
@import "base/typography";
