@use "../assets/styles/abstracts/variables" as *;

.messageBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1.875rem 0;
  width: 100%;
  & p {
    color: $color-primary-dark-gray;
    font-size: 0.875rem;
    margin: 0 0 0.25rem 0;
    line-height: 1.6;
  }
}
