/* ========================================
Typography
======================================== */
@use "../abstracts/_variables.scss" as *;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Red+Hat+Display:wght@400;500;700&display=swap");

/* Font Families */
$font-primary: "Noto Sans JP", sans-serif;
$font-heading: "Red Hat Display", sans-serif;

/* Base Typography */
html,
body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.6;
  color: $color-primary-dark-gray;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 0.5em;
  color: $color-primary-dark-gray;
}

/* Paragraph */
p {
  margin: 0 0 0.75rem;
}

/* Links */
a {
  font-family: inherit;
  color: #0066cc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
